body {
    background: #2D2E30;
    height: 1200px;
}

.logoTitle {
    font-family: 'Calibri';
    color: #CBCBCB;
    width: 100%;
}

.logo1 {
    content: url(img/logo1.png);
    height: 200px;
    position: absolute;
    top: 200px;
    left: 32%;
    object-fit: cover;
    object-position: -20% 0;
    width: 0px;
    display: none;
}

.logo2 {
    content: url(img/tagINI.png);
    height: 24%;
    position: absolute;
    top: 243px;
    left: 43%;
}

.logo3 {
    content: url(img/tagCLOSE.png);
    height: 15%;
    position: absolute;
    top: 278px;
    left: 51%;
}

.logo4 {
    content: url(img/logo2.png);
    height: 200px;
    position: absolute;
    top: 200px;
    left: 30%;
    object-fit: cover;
    object-position: -20% 0;
    width: 0px;
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 7%;
        justify-content: center;
        height: 100%;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #2D2E30;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #2D2E30;
}

::-webkit-scrollbar-thumb {
    background: #2D2E30;
    border-radius: 7px;
    height: 50px;
}